@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
}
@font-face {
    font-family: "Aileron-Black";
    src: url("/Aileron-Black.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}